Repository Uninett/nav, pull requests merged in 2019-10, with the labels that each got.

#1991 IPAM: Improve performance of prefix tree generation about 8x.
  python/nav/web/ipam/prefix_tree.py
  python/nav/web/ipam/util.py
Labels: ipam, performance

#1988 Add status monitoring for Juniper PSUs and FANs
  NOTES.rst
  python/nav/ipdevpoll/plugins/psu.py
  python/nav/mibs/juniper_mib.py
  python/nav/smidumps/JUNIPER-MIB.py
Labels: enhancement, juniper

#1995 Add maintenance filter to Netbox API endpoint
  python/nav/models/manage.py
  python/nav/web/api/v1/filter_backends.py
  python/nav/web/api/v1/views.py
  tests/integration/querysets_test.py
Labels: api, enhancement

#2002 Refactor installation documentation.
  doc/contents.rst
  doc/howto/generic-install-from-source.rst
  doc/howto/installing-graphite-on-debian.rst
  doc/howto/integrating-graphite-with-nav.rst
  doc/howto/manual-install-on-debian.rst
  doc/intro/getting-started.rst
  doc/intro/install.rst
Labels: documentation

#1990 Make type changes immediately when unknown types are encountered
  python/nav/ipdevpoll/plugins/typeoid.py
  tests/integration/ipdevpoll/plugins/typeoid_test.py
  tests/integration/ipdevpoll/typeoid_test.py
  tests/unittests/ipdevpoll/typeoid_test.py
Labels: bug

#2003 Remove external link redundancies in docs
  doc/conf.py
  doc/exts/xref.py
  doc/howto/generic-install-from-source.rst
  doc/howto/integrating-graphite-with-nav.rst
  doc/howto/manual-install-on-debian.rst
  doc/intro/install.rst
Labels: documentation

#2008 Add more database stats to Watchdog's "NAV by the numbers"
  python/nav/web/static/js/src/watchdog.js
  python/nav/web/templates/watchdog/frag_overview.html
  python/nav/web/watchdog/urls.py
  python/nav/web/watchdog/views.py
Labels: enhancement

#2007 Support REMOTE_USER header for web authentication
  NOTES.rst
  bin/navuser
  doc/howto/mod_auth_openidc_feide.rst
  doc/reference/external_authentication.rst
  doc/reference/index.rst
  doc/reference/web_authentication.rst
  python/nav/django/auth.py
  python/nav/django/context_processors.py
  python/nav/django/settings.py
  python/nav/etc/webfront/webfront.conf
  python/nav/web/__init__.py
  python/nav/web/auth.py
  python/nav/web/modpython.py
  python/nav/web/navlets/__init__.py
  python/nav/web/static/js/test/resources/plugins/header_footer_minimize/header.html
  python/nav/web/templates/base.html
  python/nav/web/useradmin/views.py
  python/nav/web/webfront/views.py
  tests/functional/conftest.py
  tests/unittests/general/web_middleware_test.py
  tests/unittests/general/webfront_test.py
Labels: authentication, enhancement, web
