Repository Uninett/nav, pull requests merged in 2020-11, with the labels that each got.

#2202 Clean up and improve Docker development container
  .dockerignore
  Dockerfile
  docker-compose.yml
Labels: docker

#2208 Make servicemon MysqlChecker Python 3 compatible
  python/nav/statemon/checker/MysqlChecker.py
Labels: python3

#2204 Add support for configuring Juniper switch ports in PortAdmin
  python/nav/django/settings.py
  python/nav/junos/__init__.py
  python/nav/junos/nav_views.py
  python/nav/junos/nav_views.yml
  python/nav/portadmin/handlers.py
  python/nav/portadmin/management.py
  python/nav/portadmin/napalm/__init__.py
  python/nav/portadmin/napalm/juniper.py
  python/nav/portadmin/napalm/templates/portadmin/junos-disable-interface.djt
  python/nav/portadmin/napalm/templates/portadmin/junos-set-access-port-vlan.djt
  python/nav/portadmin/napalm/templates/portadmin/junos-set-interface-description.djt
  python/nav/portadmin/napalm/templates/portadmin/junos-set-trunk-port-vlans.djt
  python/nav/portadmin/snmp/base.py
  python/nav/web/portadmin/utils.py
  python/nav/web/portadmin/views.py
  python/nav/web/templates/portadmin/base.html
  python/nav/web/templates/portadmin/portlist.html
  tests/unittests/portadmin/portadmin_test.py
Labels: CNaaS, enhancement, juniper, portadmin

#2207 Netbox reference is not passed to customization template for the ipdevinfo "What if" tab
  python/nav/web/ipdevinfo/views.py
Labels: bug

#2211 Cleanup and update requirements for upcoming NAV 5.1
  NOTES.rst
  requirements.txt
  requirements/base.txt
  requirements/django111.txt
  requirements/django20.txt
  requirements/django21.txt
  tox.ini
Labels: cleanup

#2205 Adapt Portadmin UI workflow to meet needs of multiple backend protocols
  python/nav/arnold.py
  python/nav/portadmin/handlers.py
  python/nav/portadmin/napalm/juniper.py
  python/nav/portadmin/snmp/base.py
  python/nav/web/portadmin/urls.py
  python/nav/web/portadmin/views.py
  python/nav/web/static/js/src/portadmin.js
Labels: CNaaS, enhancement, portadmin
