Repository Uninett/nav, pull requests merged in 2022-11, with the labels that each got.

#2480 Ensure NetboxType is loaded in a db thread
  python/nav/ipdevpoll/plugins/typeoid.py
Labels: ipdevpoll

#2454 Fetch IP/MAC mappings from all Arista VRF instances
  python/nav/ipdevpoll/plugins/arp.py
  python/nav/ipdevpoll/utils.py
  python/nav/mibs/arista_vrf_mib.py
  python/nav/mibs/ip_mib.py
  python/nav/smidumps/ARISTA-VRF-MIB.py
  tests/integration/conftest.py
  tests/integration/ipdevpoll/utils_test.py
  tests/integration/mibs/arista_vrf_mib_test.py
  tests/integration/mibs/ip_mib_test.py
  tests/integration/mibs/sensors_test.py
  tests/integration/snmp_fixtures/arista.snmprec
  tests/integration/snmp_fixtures/arista@IOT.snmprec
  tests/integration/snmp_fixtures/arista@MGMT.snmprec
  tests/integration/snmp_fixtures/arista@STUDENT.snmprec
  tests/integration/snmp_fixtures/arista@VR.snmprec
Labels: CNaaS, arista

#2467 Filter by severity value in the status tool
  python/nav/web/api/v1/filter_backends.py
  python/nav/web/status2/forms.py
Labels: status

#2461 Make snmptrapd able to identify trap agents that use a different IP to send traps than to receive SNMP queries
  python/nav/snmptrapd/trap.py
Labels: snmptrapd

#2453 Ignore VLANs with non-numerical tags in Juniper NETCONF responses.
  python/nav/portadmin/napalm/juniper.py
  tests/unittests/portadmin/napalm/juniper_test.py
Labels: portadmin

#2431 Validate maintenance calendar form input using Django forms
  CHANGELOG.md
  python/nav/web/maintenance/forms.py
  python/nav/web/maintenance/views.py
  python/nav/web/templates/maintenance/calendar.html
  tests/integration/web/maintenance/__init__.py
  tests/integration/web/maintenance/views_test.py
  tests/unittests/web/maintenance/__init__.py
  tests/unittests/web/maintenance/forms_test.py
Labels: maintenance

#2487 Add list of chassis mac addresses to /netbox API endpoint
  python/nav/models/manage.py
  python/nav/web/api/v1/serializers.py
  python/nav/web/api/v1/views.py
  tests/integration/models/netbox_test.py
Labels: api, CNaaS

#2490 Make mac_address non-required and read-only
  python/nav/web/api/v1/serializers.py
Labels: bug, api

#2488 Update zoom correctly when requesting link to this configuration
  python/nav/web/static/js/geomap/GeomapPlugin.js
Labels: geomap

#2451 Stop resource leakage when reading conf files
  python/nav/config.py
Labels: cleanup

#2492 Ignore devices with fake serial number 'BUILTIN'
  python/nav/etc/ipdevpoll.conf
  python/nav/ipdevpoll/plugins/entity.py
  python/nav/ipdevpoll/plugins/modules.py
  python/nav/models/sql/changes/sc.05.05.0001.sql
  tests/unittests/ipdevpoll/modules_test.py
Labels: juniper

#2498 Fix broken SNMP trap agent lookup method
  python/nav/snmptrapd/trap.py
  tests/integration/snmptrapd_test.py
Labels: snmptrapd

#2509 Use pip-compile's backtracking dependency resolver to fix failing CI pipelines
  Dockerfile
  tox.ini
Labels: tests
